In [1]:
# Series Basics

In [3]:
import pandas as pd
import numpy as np

In [4]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv(r"C:\Users\Zana\Desktop\pandas\retail\oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [5]:
# convert oil_array to a series

oil_series = pd.Series(oil_array, name="oil_prices")
              
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64

In [6]:
print(f"Name: {oil_series.name}")
print(f"dtype: {oil_series.dtype}")
print(f"size: {oil_series.size}")
print(f"index: {oil_series.index}")

Name: oil_prices
dtype: float64
size: 100
index: RangeIndex(start=0, stop=100, step=1)

In [7]:
oil_series.values.mean()

51.128299999999996

In [8]:
oil_series.index

RangeIndex(start=0, stop=100, step=1)

In [9]:
oil_series.index.dtype

dtype('int64')

In [10]:
oil_series.astype("int").values.mean()

50.66

In [11]:
# Accessing Series Data

In [12]:
dates = pd.Series(oil["date"]).iloc[1000:1100]

In [13]:
oil_series.index = dates

oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [14]:
oil_series.iloc[:10]

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
2016-12-28    54.01
2016-12-29    53.80
2016-12-30    53.75
2017-01-03    52.36
2017-01-04    53.26
Name: oil_prices, dtype: float64

In [15]:
oil_series.iloc[:10].mean()

52.765

In [16]:
# Mean of last 10 prices

oil_series.iloc[-10:].mean()

47.129999999999995

In [17]:
# Slice labels using loc, reset index and drop dates to return series w/ integer index

oil_series.loc["2017-01-01":"2017-01-07"].reset_index(drop=True)

0    52.36
1    53.26
2    53.77
3    53.98
Name: oil_prices, dtype: float64

In [18]:
# Sorting and Filtering Series

In [19]:
dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [20]:
# Get 10 lowest prices by grabbing first 10 rows of sorted price series
# Then, sort by index in descending order

oil_series.sort_values().iloc[:10].sort_index(ascending=False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_prices, dtype: float64

In [21]:
# Create mask to filter to only dates in list of dates and oil price <= 50

mask = oil_series.index.isin(dates) & (oil_series <= 50)

oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: oil_prices, dtype: float64

In [22]:
# Series Operations

In [23]:
# Multiple oil series values by 1.1 (10% increase), then add 2 to each row

# with Pandas methods
oil_series.mul(1.1).add(2)

# with Python operators
oil_series * 1.1 + 2

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil_prices, Length: 100, dtype: float64

In [24]:
# Get max price, store in variable

max_price = oil_series.max()

max_price

54.48

In [25]:
# Subtract max price from all rows in oil_series (returns a Series)
(oil_series - max_price) / max_price

date
2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: oil_prices, Length: 100, dtype: float64

In [26]:
# Create a series from the index of oil_series
string_dates = pd.Series(oil_series.index)

In [27]:
# Slice out month portion of text string and convert to int
string_dates.str[5:7].astype("int")

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int32

In [28]:
# single line
pd.Series(oil_series.index).str[5:7].astype("int")

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int32

In [29]:
# Series Aggregations

In [30]:
# Filter series to March (month 3), calculate sum of prices, and round

oil_series[oil_series.index.str[6:7] == "3"].sum().round(2)

1134.54

In [31]:
# Filter series to march, calculate mean

oil_series[oil_series.index.str[6:7] == "3"].mean()

49.32782608695651

In [32]:
# Filter series to Jan and Feb, count entries

oil_series[oil_series.index.str[5:7].isin(["01", "02"])].count()

39

In [33]:
# Calculate 10th and 90th percentiles of oil series using quantile

oil_series.quantile([0.1, 0.9])

0.1    47.299
0.9    53.811
Name: oil_prices, dtype: float64

In [34]:
# Return normalized value counts to get percentage of time each integer dollar value occurred

oil_series.astype("int").value_counts(normalize=True)

53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: oil_prices, dtype: float64

In [35]:
# Assingment Missing Data

In [36]:
# Fill in two values with missing data
oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)

In [37]:
# Sum/count missing values

oil_series.isna().sum()

2

In [38]:
# Fill in missing values with median

oil_series.fillna(oil_series.median())

date
2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: oil_prices, Length: 100, dtype: float64

In [39]:
# Diffrent Functions

In [40]:
# Define a function that returns 'Buy' if price below limit, 'Wait' if not.

def buy_bool(price, limit):
    if price < limit:
        return "Buy"
    return "Wait"

In [41]:
# Apply function to OIl Series, args = to specify arguments - make sure to pass a list or tuple to args

oil_series.apply(buy_bool, args=(oil_series.quantile(0.9),))

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: oil_prices, Length: 100, dtype: object

In [42]:
# Lambda function version of Wait/Buy

oil_series.apply(lambda x: "Buy" if x < oil_series.quantile(0.9) else "Wait")

date
2016-12-20     Buy
2016-12-21    Wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    Wait
2017-05-15     Buy
Name: oil_prices, Length: 100, dtype: object

In [43]:
# Chain Pandas where to specify complementary logic.
# First where - if test returns FALSE (not one of these dates), multiply by 1.1
# Second where - if inverted test returns FALSE (is one of these dates) multiply by .9

(oil_series
 .where(oil_series.index.isin(["2016-12-23", "2017-05-10"]), oil_series * 1.1)
 .where(~oil_series.index.isin(["2016-12-23", "2017-05-10"]), oil_series * .9)
)

date
2016-12-20    57.442
2016-12-21       NaN
2016-12-22    57.178
2016-12-23    46.809
2016-12-27    58.102
               ...
2017-05-09    50.424
2017-05-10    42.552
2017-05-11    52.591
2017-05-12       NaN
2017-05-15    53.746
Name: oil_prices, Length: 100, dtype: float64